* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$colors: (logo: #1db8de,
    negro: #3e3f43,
    pollo: #FFD84E,
    carne: #FF784E,
    pescado: #FF9EF0,
    mariscos: #5AEBFF,
    veggie: #A4FF84,
);

@mixin flexible($dis, $direccion, $corte, $just, $align) {
    display: $dis;
    flex-flow: $direccion $corte;
    justify-content: $just;
    align-items: $align;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #3e3f43;
}

body::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
    border-right: 1px solid #3e3f43;
}

@font-face {
    font-family: "LibreBaskerville-Bold";
    src: url("./../font/LibreBaskerville-Bold.ttf");
}

@font-face {
    font-family: "LibreBaskerville-Regular";
    src: url("./../font/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("./../font/Inter-SemiBold.ttf");
}


#index__body {
    background: url(./../images/backgroundCyan.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}

#menu__body {
    background-color: #3e3f43;
}

@media screen and (max-width: 1200px) {
    #index__body {
        background: none;
    }
}

/*HEADER-HOME--START*/

#header2 {
    width: 100%;
    height: 150px;
    margin-top: 0px;

    .container__header {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        @include flexible(flex, row, wrap, space-between, center);

        .logo {
            height: 100%;
            @include flexible(flex, row, wrap, flex-start, center);

            h1 {
                display: none;
            }

            img {
                width: 125px;
            }
        }

        nav {
            line-height: 50px;

            a {
                color: #FFFFFF;
                font-family: "Inter-SemiBold";
                font-size: 18px;
                text-decoration: none;
                display: inline-block;
                padding: 10px 15px;
                transition: 100ms;
            }

            a:hover {
                text-decoration: underline;
                color: #3e3f43;
                background-color: #FFFFFF;
                border-radius: 50px;
            }

            .burger {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    #header2 {
        margin-top: 1px;

        .container__header {
            align-items: center;

            .nav {
                a {
                    display: none;
                }

                .burger {
                    display: block;
                    fill: #3e3f43;
                }
            }
        }
    }
}

/*HEADER-HOME--END*/

/*SECTION1-HOME--START*/

.section1 {
    width: 100%;
    height: 700px;

    .cover {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        @include flexible(flex, row, nowrap, space-evenly, center);

        .text {
            max-width: 500px;
            text-align: center;

            h3 {
                font-family: "LibreBaskerville-Bold";
                color: #1db8de;
                font-size: 24px;
            }

            h2 {
                font-family: "LibreBaskerville-Bold";
                color: #3e3f43;
                font-size: 90px;
            }

            p {
                color: #3e3f43;
                font-size: 26px;
                font-family: "LibreBaskerville-Regular";
            }

            input {
                padding: 10px 40px;
                border: none;
                border-radius: 40px;
                margin-top: 40px;
                background: linear-gradient(to right, #b2fafa, #1db8de);
                color: #FFFFFF;
                box-shadow: 1px 1px 30px -12px #5AEBFF;
                cursor: pointer;
                transition: all 300ms;
            }

            input:hover {
                box-shadow: 1px 1px 30px -6px #5AEBFF;
            }
        }

        .pic {

            img {
                width: 500px;
            }

            img:hover {
                animation: spin 20s linear infinite;
            }
        }
    }
}



@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {

    .section1 {

        .cover {
            flex-direction: column;

            .text {
                h2 {
                    font-size: 60px;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    display: none;
                }

                input {
                    margin-top: 10px;
                }
            }

            .pic {
                img {
                    width: 400px;
                }
            }
        }
    }
}

/*SECTION1-HOME--END*/

/*SECTION2-HOME--START*/

.section2 {
    background-color: #3e3f43;
}

.section2 .container {
    @include flexible(flex, row, nowrap, space-evenly, center);
}

.section2-img {
    width: 200px;
}

.section2-img:hover {
    fill: #FFFFFF;
}

/*SECTION2-HOME--END*/

/*SECTION3-HOME--START*/

.section3 {
    width: 100%;
    height: 700px;
    background-image: url(./../images/backgroundOrange.jpg);
    background-position: center;

    .cover {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        @include flexible(flex, row, nowrap, space-evenly, center);

        .pic {
            img {
                width: 500px;
            }
        }

        .text {
            max-width: 500px;
            text-align: center;

            h3 {
                font-family: "LibreBaskerville-Bold";
                color: #FF784E;
                font-size: 24px;
            }

            h2 {
                font-family: "LibreBaskerville-Bold";
                color: #3e3f43;
                font-size: 90px;
            }

            p {
                color: #3e3f43;
                font-size: 26px;
                font-family: "LibreBaskerville-Regular";
            }

            input {
                padding: 10px 40px;
                border: none;
                border-radius: 40px;
                margin-top: 40px;
                background: linear-gradient(to left, #fabaa6, #FF784E);
                color: #FFFFFF;
                box-shadow: 1px 1px 30px -12px #fabaa6;
                cursor: pointer;
                transition: all 300ms;
            }

            input:hover {
                box-shadow: 1px 1px 30px -6px #fabaa6;
            }
        }
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {

    .section3 {
        background-image: none;

        .cover {
            flex-direction: column;

            .pic {
                img {
                    width: 400px;
                }
            }

            .text {
                h2 {
                    font-size: 60px;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    display: none;
                }

                input {
                    margin-top: 10px;
                }
            }
        }
    }
}

/*SECTION3-HOME--END*/

/*SECTION5-HOME--START*/

.section5 {
    width: 100%;
    height: 700px;
    background-image: url(./../images/backgroundYellow.jpg);
    background-position: center;

    .cover {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        @include flexible(flex, row, nowrap, space-evenly, center);

        .text {
            max-width: 500px;
            text-align: center;

            h3 {
                font-family: "LibreBaskerville-Bold";
                color: #FFD84E;
                font-size: 24px;
            }

            h2 {
                font-family: "LibreBaskerville-Bold";
                color: #3e3f43;
                font-size: 90px;

                span:before {
                    content: '';
                    animation: customChaufa infinite 8s;
                }
            }

            p {
                color: #3e3f43;
                font-size: 26px;
                font-family: "LibreBaskerville-Regular";
            }

            input {
                padding: 10px 40px;
                border: none;
                border-radius: 40px;
                margin-top: 40px;
                background: linear-gradient(to right, #ffeca7, #FFD84E);
                color: #3e3f43;
                box-shadow: 1px 1px 30px -12px #ffeca7;
                cursor: pointer;
                transition: all 300ms;
            }

            input:hover {
                box-shadow: 1px 1px 30px -6px #ffeca7;
            }
        }

        .pic {
            img {
                width: 500px;
            }
        }
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes customChaufa {
    0% {
        content: 'de Pollo';
    }
    20% {
        content: 'de Carne';
    }
    40% {
        content: 'de Camarón';
    }
    60% {
        content: 'de Mariscos';
    }
    80% {
        content: 'Veggie';
    }
    100% {
        content: 'Mixto';
    }
}

@media screen and (max-width: 1200px) {

    .section5 {
        background-image: none;

        .cover {
            flex-direction: column;

            .text {
                h2 {
                    font-size: 60px;
                }
                h3 {
                    font-size: 20px;
                }
                p {
                    display: none;
                }
                input {
                    margin-top: 10px;
                }
            }

            .pic {
                img {
                    width: 400px;
                }
            }
        }
    }
}

/*SECTION5-HOME--END*/

/*FOOTER--START*/

footer {
    background-color: #3e3f43;
    width: 100%;

    .footer-container {
        width: 75%;
        margin: auto;
        color: #FFFFFF;
        padding-top: 25px;
        padding-bottom: 25px;
        @include flexible(flex, row, nowrap, space-around, flex-start);
        font-size: small;

        div {
            @include flexible(flex, column, nowrap, flex-start, flex-start);

            h6 {
                color: #FFFFFF;
                font-size: small;
            }

            a {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }
}

/*FOOTER--END*/



/*HEADER-MENU--START*/

#header1 {
    width: 100%;
    height: 150px;
    margin-top: 0px;

    .container__header {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        @include flexible(flex, row, wrap, space-between, center);

        .logo {
            height: 100%;
            @include flexible(flex, row, wrap, flex-start, center);

            h1 {
                display: none;
            }

            img {
                width: 125px;
            }
        }

        nav {
            line-height: 50px;

            a {
                color: #FFFFFF;
                font-family: "Inter-SemiBold";
                font-size: 18px;
                text-decoration: none;
                display: inline-block;
                padding: 10px 15px;
                transition: 100ms;
            }

            a:hover {
                text-decoration: underline;
                color: #3e3f43;
                background-color: #FFFFFF;
                border-radius: 50px;
            }

            .burger {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    #header1 {
        margin-top: 1px;

        .container__header {
            align-items: center;

            .nav {
                a {
                    display: none;
                }

                .burger {
                    display: block;
                    fill: #ffffff;
                }
            }
        }
    }
}

/*HEADER-MENU--END*/










/*A partir de aca codigo para reordenar, es todo sobre menu.html con flex y grid*/



.menu-section {
    padding-bottom: 100px;
}

.menu-main {
    background-color: #3e3f43;
}

.menu-main h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 96px;
    font-family: "LibreBaskerville-Bold";
    text-transform: uppercase;
    padding-bottom: 25px;
}

.menu-main h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: "LibreBaskerville-Bold";
    margin-bottom: 100px;
}

.menu-title--destacado p {
    color: #FFFFFF;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

@each $name-color,
$color in $colors {
    .menu-title--#{$name-color} p {
        color: $color;
        font-size: 24px;
        font-family: "LibreBaskerville-Bold";
        text-align: center;
        margin-bottom: 20px;
        margin-top: 70px;
    }
}

.menu-container {
    @include flexible(flex, row, wrap, space-evenly, center);
    max-width: 1440px;
    margin: 0px auto;
    gap: 50px;
}

.menu-container img {
    margin: 3px;
}

.menu-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    align-items: center;
    max-width: 1408px;
    margin: 0px auto;
    gap: 50px;
}

@media screen and (max-width: 1381px) {

    .menu-container-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin: 0px auto;
    }
}

@media screen and (max-width: 1025px) {


    .menu-container-grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: 0px auto;
    }
}

@media screen and (max-width: 669px) {


    .menu-container-grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 0px auto;
    }
}