* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #3e3f43;
}

body::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
    border-right: 1px solid #3e3f43;
}

@font-face {
    font-family: "LibreBaskerville-Bold";
    src: url("./../font/LibreBaskerville-Bold.ttf");
}

@font-face {
    font-family: "LibreBaskerville-Regular";
    src: url("./../font/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("./../font/Inter-SemiBold.ttf");
}


#index__body {
    background: url(../images/background\ cyan.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}


/*HEADER-HOME*/

#header2 {
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.container__header {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo h1 {
    display: none;
}

.logo img {
    width: 150px;
}

.nav a {
    color: #FFFFFF;
    font-family: "Inter-SemiBold";
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}

.home-header {
    width: 100%;
    height: 200px;
}

.home-header h1 {
    display: none;
}

/*HEADER-HOME*/

/*SECTION1-HOME*/

.section1 {
    width: 100%;
    height: 700px;
}

.section1 .cover {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1 .text {
    max-width: 500px;
    text-align: center;
}

.section1 .text h3 {
    font-family: "LibreBaskerville-Bold";
    color: #1db8de;
    font-size: 24px;
}

.section1 .text h2 {
    font-family: "LibreBaskerville-Bold";
    color:#3e3f43;
    font-size: 90px;
}

.section1 .text p {
    color: #3e3f43;
    font-size: 26px;
    font-family: "LibreBaskerville-Regular";
}

.section1 .text input {
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    background: linear-gradient(to right, #b2fafa, #1db8de);
    color: #FFFFFF;
    box-shadow: 1px 1px 30px -12px #5AEBFF;
    cursor: pointer;
    transition: all 300ms;
}

.section1 .text input:hover {
    box-shadow: 1px 1px 30px -6px #5AEBFF;
}

.section1 .pic img {
    width: 500px;
}

.section1 .pic img:hover {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

/*SECTION1-HOME*/

.section-ceviche {
    height: 600px;
    padding-left: 10%;
    padding-right: 10%;
}

.index-platoPic {
    float: right;
}

.index-platoInfo {
    float: left;
    text-align: center;
    width: 45%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.index-platoInfo h3 {
    font-family: "LibreBaskerville-Bold";
    color: #1db8de;
    font-size: 24px;
}

.index-platoInfo h2 {
    font-family: "LibreBaskerville-Bold";
    color:#3e3f43;
    font-size: 90px;
}

.index-platoInfo p {
    color: #3e3f43;
    font-size: 30px;
    font-family: "LibreBaskerville-Regular";
    margin: 15px 15px 25px 25px;
}

.index-platoInfo div {
    color: #1db8de;
}

a {
    text-decoration: none;
}

.btn-ceviche {
    background-color: #1db8de;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: auto;
}

.btn-ceviche p {
    color: #FFFFFF;
    font-family: "LibreBaskerville-Regular";
    font-size: 15px;
    margin: auto;
    line-height: 29px;
}

.section-lomoSalt {
    height: 600px;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(./../images/background\ orange.jpg);
    background-position: center;
}

.index-platoPic-invert {
    float: left;
}

.index-platoInfo-invert {
    float: right;
    text-align: center;
    width: 45%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.index-platoInfo-invert h3 {
    font-family: "LibreBaskerville-Bold";
    color: #FF784E;
    font-size: 24px;
}

.index-platoInfo-invert h2 {
    font-family: "LibreBaskerville-Bold";
    color:#3e3f43;
    font-size: 80px;
}

.index-platoInfo-invert p {
    color: #3e3f43;
    font-size: 30px;
    font-family: "LibreBaskerville-Regular";
    margin: 15px 15px 25px 25px;
}

.btn-lomoSalt {
    background-color: #FF784E;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: auto;
}

.btn-lomoSalt p {
    color: #FFFFFF;
    font-family: "LibreBaskerville-Regular";
    font-size: 15px;
    margin: auto;
    line-height: 29px;
}

.section-chaufa {
    height: 600px;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(./../images/background\ yellow.jpg);
    background-position: center;
}

.index-platoPic {
    float: right;
}

.index-platoInfo3 {
    float: left;
    text-align: center;
    width: 45%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.index-platoInfo3 h3 {
    font-family: "LibreBaskerville-Bold";
    color: #FFD84E;
    font-size: 24px;
    text-shadow: 0 0 2px black;
}

.index-platoInfo3 h2 {
    font-family: "LibreBaskerville-Bold";
    color:#3e3f43;
    font-size: 80px;
}

.index-platoInfo3 p {
    color: #3e3f43;
    font-size: 30px;
    font-family: "LibreBaskerville-Regular";
    margin: 15px 15px 25px 25px;
}

.btn-chaufa {
    background-color: #FFD84E;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    margin: auto;
}

.btn-chaufa p {
    color: #3e3f43;
    font-family: "LibreBaskerville-Regular";
    font-size: 15px;
    margin: auto;
    line-height: 29px;
}







.menu-header {
    background-color: #3e3f43;
    width: 100%;
    height: 200px;
}

.menu-header h1 {
    display: none;
}

.container-header {
    width: 95%;
    margin: auto;
}

.logo-header {
    float: left;
    line-height: 100px;
}

.logo-header img {
    width: 150px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    color: #FFFFFF;
    font-family: "Inter-SemiBold";
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}





footer {
    background-color: #3e3f43;
    width: 100%;
}

h6 {
    color: #FFFFFF;
    font-size: small;
}

.footer-container {
    width: 75%;
    margin: auto;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
    font-family: "Inter-SemiBold";
    font-size: small;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container div {
    display: flex;
    flex-direction: column;
}









.menu-section {
    padding-bottom: 100px;
}

.menu-main {
    background-color: #3e3f43;
}

.menu-main h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 96px;
    font-family: "LibreBaskerville-Bold";
    text-transform: uppercase;
    padding-bottom: 25px;
}

.menu-main h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: "LibreBaskerville-Bold";
    margin-bottom: 100px;
}

.menu-title--destacado p {
    color: #FFFFFF;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--pollo p {
    color: #FFD84E;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--carne p {
    color: #FF784E;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--pescado p {
    color: #FF9EF0;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--mariscos p {
    color: #5AEBFF;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--veggie p {
    color: #A4FF84;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
    gap: 50px;
}

.menu-container img {
    margin: 3px;
}

.menu-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    align-items: center;
    max-width: 1408px;
    margin: 0px auto;
    gap: 50px;
}

@media screen and (max-width: 1381px) {

    .menu-container-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin: 0px auto;
    }
}

@media screen and (max-width: 1025px) {


    .menu-container-grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: 0px auto;
    }
}

@media screen and (max-width: 669px) {


    .menu-container-grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 0px auto;
    }
}