* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #3e3f43;
}

body::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
    border-right: 1px solid #3e3f43;
}

@font-face {
    font-family: "LibreBaskerville-Bold";
    src: url("./../font/LibreBaskerville-Bold.ttf");
}

@font-face {
    font-family: "LibreBaskerville-Regular";
    src: url("./../font/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("./../font/Inter-SemiBold.ttf");
}


#index__body {
    background: url(./../images/backgroundCyan.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}

#menu__body {
    background-color: #3e3f43;
}

@media screen and (max-width: 1200px) {
    #index__body {
        background: none;
    }
}

/*HEADER-HOME--START*/

#header2 {
    width: 100%;
    height: 150px;
    margin-top: 20px;

    .container__header {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .logo {
            height: 100%;
            display: flex;
            align-items: center;

            h1 {
                display: none;
            }

            img {
                width: 125px;
            }
        }

        nav {
            line-height: 50px;

            a {
                color: #FFFFFF;
                font-family: "Inter-SemiBold";
                font-size: 18px;
                text-decoration: none;
                display: inline-block;
                padding: 10px 15px;
                transition: 100ms;
            }

            a:hover {
                text-decoration: underline;
                color: #3e3f43;
                background-color: #FFFFFF;
                border-radius: 50px;
            }

            .burger {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    #header2 {
        margin-top: 1px;

        .container__header {
            align-items: center;

            .nav {
                a {
                    display: none;
                }
                
                .burger {
                    display: block;
                    fill: #3e3f43;
                }
            }
        }
    }
}

/*HEADER-HOME--END*/

/*SECTION1-HOME--START*/

.section1 {
    width: 100%;
    height: 700px;

    .cover {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .text {
            max-width: 500px;
            text-align: center;
        }
    }
}





.section1 .text h3 {
    font-family: "LibreBaskerville-Bold";
    color: #1db8de;
    font-size: 24px;
}

.section1 .text h2 {
    font-family: "LibreBaskerville-Bold";
    color: #3e3f43;
    font-size: 90px;
}

.section1 .text p {
    color: #3e3f43;
    font-size: 26px;
    font-family: "LibreBaskerville-Regular";
}

.section1 .text input {
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    background: linear-gradient(to right, #b2fafa, #1db8de);
    color: #FFFFFF;
    box-shadow: 1px 1px 30px -12px #5AEBFF;
    cursor: pointer;
    transition: all 300ms;
}

.section1 .text input:hover {
    box-shadow: 1px 1px 30px -6px #5AEBFF;
}

.section1 .pic img {
    width: 500px;
}

.section1 .pic img:hover {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {

    .section1 .cover {
        flex-direction: column;
    }

    .section1 .text h2 {
        font-size: 60px;
    }

    .section1 .text h3 {
        font-size: 20px;
    }

    .section1 .text p {
        display: none;
    }

    .section1 .text input {
        margin-top: 10px;
    }

    .section1 .pic img {
        width: 400px;
    }
}

/*SECTION1-HOME--END*/

/*SECTION2-HOME--START*/

.section2 {
    background-color: #3e3f43;
}

.section2 .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section2-img {
    width: 200px;
}

.section2-img:hover {
    fill: #FFFFFF;
}

/*SECTION2-HOME--END*/

/*SECTION3-HOME--START*/

.section3 {
    width: 100%;
    height: 700px;
    background-image: url(./../images/backgroundOrange.jpg);
    background-position: center;
}

.section3 .cover {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section3 .text {
    max-width: 500px;
    text-align: center;
}

.section3 .text h3 {
    font-family: "LibreBaskerville-Bold";
    color: #FF784E;
    font-size: 24px;
}

.section3 .text h2 {
    font-family: "LibreBaskerville-Bold";
    color: #3e3f43;
    font-size: 90px;
}

.section3 .text p {
    color: #3e3f43;
    font-size: 26px;
    font-family: "LibreBaskerville-Regular";
}

.section3 .text input {
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    background: linear-gradient(to left, #fabaa6, #FF784E);
    color: #FFFFFF;
    box-shadow: 1px 1px 30px -12px #fabaa6;
    cursor: pointer;
    transition: all 300ms;
}

.section3 .text input:hover {
    box-shadow: 1px 1px 30px -6px #fabaa6;
}

.section3 .pic img {
    width: 500px;
}

.section3 .pic img:hover {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {

    .section3 {
        background-image: none;
    }

    .section3 .cover {
        flex-direction: column;
    }

    .section3 .text h2 {
        font-size: 60px;
    }

    .section3 .text h3 {
        font-size: 20px;
    }

    .section3 .text p {
        display: none;
    }

    .section3 .text input {
        margin-top: 10px;
    }

    .section3 .pic img {
        width: 400px;
    }
}

/*SECTION3-HOME--END*/

/*SECTION5-HOME--START*/

.section5 {
    width: 100%;
    height: 700px;
    background-image: url(./../images/backgroundYellow.jpg);
    background-position: center;
}

.section5 .cover {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section5 .text {
    max-width: 500px;
    text-align: center;
}

.section5 .text h3 {
    font-family: "LibreBaskerville-Bold";
    color: #FFD84E;
    font-size: 24px;
}

.section5 .text h2 {
    font-family: "LibreBaskerville-Bold";
    color: #3e3f43;
    font-size: 90px;
}

.section5 .text p {
    color: #3e3f43;
    font-size: 26px;
    font-family: "LibreBaskerville-Regular";
}

.section5 .text input {
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    background: linear-gradient(to right, #ffeca7, #FFD84E);
    color: #3e3f43;
    box-shadow: 1px 1px 30px -12px #ffeca7;
    cursor: pointer;
    transition: all 300ms;
}

.section5 .text input:hover {
    box-shadow: 1px 1px 30px -6px #ffeca7;
}

.section5 .pic img {
    width: 500px;
}

.section5 .pic img:hover {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {

    .section5 {
        background-image: none;
    }

    .section5 .cover {
        flex-direction: column;
    }

    .section5 .text h2 {
        font-size: 60px;
    }

    .section5 .text h3 {
        font-size: 20px;
    }

    .section5 .text p {
        display: none;
    }

    .section5 .text input {
        margin-top: 10px;
    }

    .section5 .pic img {
        width: 400px;
    }
}

/*SECTION5-HOME--END*/

/*FOOTER--START*/

footer {
    background-color: #3e3f43;
    width: 100%;
}

h6 {
    color: #FFFFFF;
    font-size: small;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container {
    width: 75%;
    margin: auto;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
    font-family: "Inter-SemiBold";
    font-size: small;
}

.footer-container div {
    display: flex;
    flex-direction: column;
}

/*FOOTER--END*/

/*HEADER-MENU--START*/

#header1 {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background-color: #3e3f43;
}

.container__header {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo h1 {
    display: none;
}

.logo img {
    width: 125px;
}

nav {
    line-height: 50px;
}

nav a {
    color: #FFFFFF;
    font-family: "Inter-SemiBold";
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    transition: 100ms;
}

nav a:hover {
    text-decoration: underline;
    color: #3e3f43;
    background-color: #FFFFFF;
    border-radius: 50px;
}

.home-header {
    width: 100%;
    height: 200px;
}

.home-header h1 {
    display: none;
}

.burger {
    display: none;
}

@media screen and (max-width: 1200px) {

    #header1 {
        margin-top: 1px;
    }

    .container__header {
        align-items: center;
    }

    nav a {
        display: none;
    }

    #header1 .burger {
        display: block;
        fill: #FFFFFF;
    }
}

/*HEADER-MENU--END*/










/*A partir de aca codigo para reordenar, es todo sobre menu.html con flex y grid*/



.menu-section {
    padding-bottom: 100px;
}

.menu-main {
    background-color: #3e3f43;
}

.menu-main h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 96px;
    font-family: "LibreBaskerville-Bold";
    text-transform: uppercase;
    padding-bottom: 25px;
}

.menu-main h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: "LibreBaskerville-Bold";
    margin-bottom: 100px;
}

.menu-title--destacado p {
    color: #FFFFFF;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--pollo p {
    color: #FFD84E;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--carne p {
    color: #FF784E;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--pescado p {
    color: #FF9EF0;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--mariscos p {
    color: #5AEBFF;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-title--veggie p {
    color: #A4FF84;
    font-size: 24px;
    font-family: "LibreBaskerville-Bold";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
    gap: 50px;
}

.menu-container img {
    margin: 3px;
}

.menu-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    align-items: center;
    max-width: 1408px;
    margin: 0px auto;
    gap: 50px;
}

@media screen and (max-width: 1381px) {

    .menu-container-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin: 0px auto;
    }
}

@media screen and (max-width: 1025px) {


    .menu-container-grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        margin: 0px auto;
    }
}

@media screen and (max-width: 669px) {


    .menu-container-grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 0px auto;
    }
}