@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #3e3f43;
}

body::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 10px;
  border-right: 1px solid #3e3f43;
}

@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("./../font/LibreBaskerville-Bold.ttf");
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("./../font/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("./../font/Inter-SemiBold.ttf");
}

#index__body {
  background: url(./../images/backgroundCyan.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}

#menu__body {
  background-color: #3e3f43;
}

#all__body {
  background-color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  #index__body {
    background: none;
  }
}

/*HEADER-HOME--START*/
#header2 {
  width: 100%;
  height: 150px;
  margin-top: 0px;
}

#header2 .container__header {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header2 .container__header .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header2 .container__header .logo h1 {
  display: none;
}

#header2 .container__header .logo img {
  width: 125px;
}

#header2 .container__header nav {
  line-height: 50px;
}

#header2 .container__header nav a {
  color: #FFFFFF;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 0px 5px;
  margin: 0 10px;
  -webkit-transition: 100ms;
  transition: 100ms;
  position: relative;
}

#header2 .container__header nav a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

#header2 .container__header nav a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#header2 .container__header #burger {
  color: #3e3f43;
  font-size: 30px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1200px) {
  #header2 .container__header #burger {
    display: block;
  }
  #header2 .container__header nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    top: 120px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  #header2 .container__header nav a {
    display: block;
    color: #3e3f43;
  }
  #header2 .container__header nav.show {
    left: 0;
  }
}

/*HEADER-HOME--END*/
/*SECTION1-HOME--START*/
.section1 {
  width: 100%;
  height: 700px;
}

.section1 .cover {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .cover .text {
  max-width: 500px;
  text-align: center;
}

.section1 .cover .text h3 {
  font-family: "LibreBaskerville-Bold";
  color: #1db8de;
  font-size: 24px;
}

.section1 .cover .text h2 {
  font-family: "LibreBaskerville-Bold";
  color: #3e3f43;
  font-size: 90px;
}

.section1 .cover .text p {
  color: #3e3f43;
  font-size: 26px;
  font-family: "LibreBaskerville-Regular";
}

.section1 .cover .text input {
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  margin-top: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#b2fafa), to(#1db8de));
  background: linear-gradient(to right, #b2fafa, #1db8de);
  color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 30px -12px #5AEBFF;
          box-shadow: 1px 1px 30px -12px #5AEBFF;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.section1 .cover .text input:hover {
  -webkit-box-shadow: 1px 1px 30px -6px #5AEBFF;
          box-shadow: 1px 1px 30px -6px #5AEBFF;
}

.section1 .cover .pic img {
  width: 500px;
  -webkit-transition: -webkit-transform 5s ease-out;
  transition: -webkit-transform 5s ease-out;
  transition: transform 5s ease-out;
  transition: transform 5s ease-out, -webkit-transform 5s ease-out;
}

.section1 .cover .pic img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 1200px) {
  .section1 .cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 .cover .text h2 {
    font-size: 60px;
  }
  .section1 .cover .text h3 {
    font-size: 20px;
  }
  .section1 .cover .text p {
    display: none;
  }
  .section1 .cover .text input {
    margin-top: 10px;
  }
  .section1 .cover .pic img {
    width: 350px;
  }
}

/*SECTION1-HOME--END*/
/*SECTION2-HOME--START*/
.section2 {
  background-color: #3e3f43;
}

.section2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .container a img {
  width: 200px;
}

@media screen and (max-width: 500px) {
  .section2 .container {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*SECTION2-HOME--END*/
/*SECTION3-HOME--START*/
.section3 {
  width: 100%;
  height: 700px;
  background-image: url(./../images/backgroundOrange.jpg);
  background-position: center;
}

.section3 .cover {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .cover .pic img {
  width: 500px;
  -webkit-transition: -webkit-transform 5s ease-out;
  transition: -webkit-transform 5s ease-out;
  transition: transform 5s ease-out;
  transition: transform 5s ease-out, -webkit-transform 5s ease-out;
}

.section3 .cover .pic img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section3 .cover .text {
  max-width: 500px;
  text-align: center;
}

.section3 .cover .text h3 {
  font-family: "LibreBaskerville-Bold";
  color: #FF784E;
  font-size: 24px;
}

.section3 .cover .text h2 {
  font-family: "LibreBaskerville-Bold";
  color: #3e3f43;
  font-size: 90px;
}

.section3 .cover .text p {
  color: #3e3f43;
  font-size: 26px;
  font-family: "LibreBaskerville-Regular";
}

.section3 .cover .text input {
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  margin-top: 40px;
  background: -webkit-gradient(linear, right top, left top, from(#fabaa6), to(#FF784E));
  background: linear-gradient(to left, #fabaa6, #FF784E);
  color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 30px -12px #fabaa6;
          box-shadow: 1px 1px 30px -12px #fabaa6;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.section3 .cover .text input:hover {
  -webkit-box-shadow: 1px 1px 30px -6px #fabaa6;
          box-shadow: 1px 1px 30px -6px #fabaa6;
}

@media screen and (max-width: 1200px) {
  .section3 {
    background-image: none;
  }
  .section3 .cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3 .cover .pic img {
    border-radius: 25%;
    width: 375px;
  }
  .section3 .cover .text h2 {
    font-size: 60px;
  }
  .section3 .cover .text h3 {
    font-size: 20px;
  }
  .section3 .cover .text p {
    display: none;
  }
  .section3 .cover .text input {
    margin-top: 10px;
  }
}

/*SECTION3-HOME--END*/
/*SECTION4*/
.section4 {
  background-color: #3e3f43;
  padding: 20px 0;
}

.section4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .container .reseña {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .container .reseña .pic {
  width: 150px;
}

.section4 .container .reseña .pic img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.section4 .container .reseña .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .container .reseña p {
  color: #ffffff;
  text-align: center;
  font-family: "LibreBaskerville-Regular";
}

@media screen and (max-width: 600px) {
  .section4 .container .reseña .pic {
    width: 100px;
  }
  .section4 .container .reseña .pic img {
    height: 100px;
  }
}

/*SECTION4*/
/*SECTION5-HOME--START*/
.section5 {
  width: 100%;
  height: 700px;
  background-image: url(./../images/backgroundYellow.jpg);
  background-position: center;
}

.section5 .cover {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 .cover .text {
  max-width: 500px;
  text-align: center;
}

.section5 .cover .text h3 {
  font-family: "LibreBaskerville-Bold";
  color: #FFD84E;
  font-size: 24px;
}

.section5 .cover .text h2 {
  font-family: "LibreBaskerville-Bold";
  color: #3e3f43;
  font-size: 90px;
}

.section5 .cover .text h2 span:before {
  content: '';
  -webkit-animation: customChaufa infinite 8s;
          animation: customChaufa infinite 8s;
}

.section5 .cover .text p {
  color: #3e3f43;
  font-size: 26px;
  font-family: "LibreBaskerville-Regular";
}

.section5 .cover .text input {
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  margin-top: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#ffeca7), to(#FFD84E));
  background: linear-gradient(to right, #ffeca7, #FFD84E);
  color: #3e3f43;
  -webkit-box-shadow: 1px 1px 30px -12px #ffeca7;
          box-shadow: 1px 1px 30px -12px #ffeca7;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.section5 .cover .text input:hover {
  -webkit-box-shadow: 1px 1px 30px -6px #ffeca7;
          box-shadow: 1px 1px 30px -6px #ffeca7;
}

.section5 .cover .pic img {
  width: 500px;
  -webkit-transition: -webkit-transform 5s ease-out;
  transition: -webkit-transform 5s ease-out;
  transition: transform 5s ease-out;
  transition: transform 5s ease-out, -webkit-transform 5s ease-out;
}

.section5 .cover .pic img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .section5 {
    background-image: none;
  }
  .section5 .cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section5 .cover .text h2 {
    font-size: 60px;
  }
  .section5 .cover .text h3 {
    font-size: 20px;
  }
  .section5 .cover .text p {
    display: none;
  }
  .section5 .cover .text input {
    margin-top: 10px;
  }
  .section5 .cover .pic img {
    width: 375px;
  }
}

/*SECTION5-HOME--END*/
/*FOOTER--START*/
footer {
  background-color: #3a3d40;
  width: 100%;
}

footer .footer-container {
  width: 75%;
  margin: auto;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: small;
  font-family: "Inter-SemiBold";
}

footer .footer-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-container div h6 {
  color: #FFFFFF;
  font-size: small;
  margin-bottom: 10px;
}

footer .footer-container div a {
  text-decoration: none;
  color: #FFFFFF;
}

footer .footer-container div img {
  width: 100px;
}

footer .footer-container .autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  footer .footer-container .autor {
    display: none;
  }
}

/*FOOTER--END*/
/*HEADER-MENU--START*/
#header1 {
  width: 100%;
  height: 150px;
  margin-top: 0px;
}

#header1 .container__header {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header1 .container__header .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header1 .container__header .logo h1 {
  display: none;
}

#header1 .container__header .logo img {
  width: 125px;
}

#header1 .container__header nav {
  line-height: 50px;
}

#header1 .container__header nav a {
  color: #FFFFFF;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 0px 5px;
  margin: 0 10px;
  -webkit-transition: 100ms;
  transition: 100ms;
  position: relative;
}

#header1 .container__header nav a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

#header1 .container__header nav a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#header1 .container__header #burger1 {
  color: #ffffff;
  font-size: 30px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1200px) {
  #header1 .container__header #burger1 {
    display: block;
  }
  #header1 .container__header nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3e3f43;
    top: 120px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  #header1 .container__header nav a {
    display: block;
    color: #ffffff;
  }
  #header1 .container__header nav.show {
    left: 0;
  }
}

/*HEADER-MENU--END*/
/*MAIN-MENU--START*/
.menu-section {
  padding-bottom: 100px;
}

.menu-main {
  background-color: #3e3f43;
}

.menu-main h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 96px;
  font-family: "LibreBaskerville-Bold";
  text-transform: uppercase;
  padding-bottom: 25px;
}

.menu-main h2 {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: "LibreBaskerville-Bold";
  margin-bottom: 100px;
}

.menu-title--logo p {
  color: #1db8de;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.menu-title--negro p {
  color: #3e3f43;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.menu-title--pollo p {
  color: #FFD84E;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.menu-title--carne p {
  color: #FF784E;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.menu-title--pescado p {
  color: #FF9EF0;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.menu-title--mariscos p {
  color: #5AEBFF;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.menu-title--veggie p {
  color: #A4FF84;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0px auto;
  gap: 50px;
}

.menu-container img {
  margin: 3px;
}

.menu-container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 300px;
      grid-template-columns: 1fr 1fr 1fr 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1408px;
  margin: 0px auto;
  gap: 50px;
}

@media screen and (max-width: 1381px) {
  .menu-container-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }
}

@media screen and (max-width: 1025px) {
  .menu-container-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }
}

@media screen and (max-width: 669px) {
  .menu-container-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }
}

/*MAIN-MENU--END*/
/*NOSOTROS-&-BLOG-HEADER--START*/
#header3 {
  width: 100%;
  height: 150px;
  margin-top: 0px;
}

#header3 .container__header {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header3 .container__header .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header3 .container__header .logo h1 {
  display: none;
}

#header3 .container__header .logo img {
  width: 125px;
}

#header3 .container__header nav {
  line-height: 50px;
}

#header3 .container__header nav a {
  color: #3a3d40;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 0px 5px;
  margin: 0 10px;
  -webkit-transition: 100ms;
  transition: 100ms;
  position: relative;
}

#header3 .container__header nav a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #3a3d40;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

#header3 .container__header nav a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#header3 .container__header #burger {
  color: #3e3f43;
  font-size: 30px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1200px) {
  #header3 .container__header #burger {
    display: block;
  }
  #header3 .container__header nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    top: 120px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  #header3 .container__header nav a {
    display: block;
    color: #3e3f43;
  }
  #header3 .container__header nav.show {
    left: 0;
  }
}

/*NOSOTROS-MAIN--START*/
.nosotros-main section {
  max-width: 1200px;
  margin: auto;
}

.nosotros-main section h1 {
  color: #3e3f43;
  text-align: center;
  font-size: 80px;
  font-family: "LibreBaskerville-Bold";
  text-transform: uppercase;
  padding-bottom: 25px;
}

.nosotros-main section h2 {
  color: #3e3f43;
  text-align: center;
  font-size: 24px;
  font-family: "LibreBaskerville-Bold";
  margin-bottom: 50px;
}

.nosotros-main section .mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #3a3d40;
  border-radius: 15px;
}

.nosotros-main section .team {
  background-color: #3a3d40;
  border-radius: 15px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  margin-bottom: 50px;
}

.nosotros-main section .team img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.nosotros-main section .team p {
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
  color: #ffffff;
  background-color: rgba(58, 61, 64, 0.7);
  border-radius: 15px;
  font-size: 26px;
  font-family: "LibreBaskerville-Regular";
  width: 50%;
}

@media screen and (max-width: 800px) {
  .nosotros-main section h1 {
    font-size: 60px;
  }
  .nosotros-main section .mapa {
    margin-left: 10px;
    margin-right: 10px;
  }
  .nosotros-main section .team {
    margin-left: 10px;
    margin-right: 10px;
  }
  .nosotros-main section .team p {
    left: 5%;
    font-size: 18px;
    width: 90%;
  }
}

/*BLOG-MAIN--START*/
.blog-main {
  max-width: 1100px;
  margin: auto;
}

.blog-main h1 {
  color: #3e3f43;
  text-align: center;
  font-size: 80px;
  font-family: "LibreBaskerville-Bold";
  text-transform: uppercase;
  padding-bottom: 25px;
}

.blog-main article {
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: rgba(62, 63, 67, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.blog-main article h2 {
  color: #3e3f43;
  font-size: 32px;
  font-family: "LibreBaskerville-Bold";
}

.blog-main article p {
  color: #3e3f43;
  font-size: 18px;
  font-family: "LibreBaskerville-Regular";
  margin-bottom: 10px;
}

.blog-main article p span {
  font-family: "LibreBaskerville-Bold";
}

.blog-main article div img {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 300px;
}

@media screen and (max-width: 700px) {
  .blog-main article {
    margin-left: 10px;
    margin-right: 10px;
  }
  .blog-main article div img {
    float: none;
    width: 100%;
  }
}

/*BLOG-MAIN--END*/
/*# sourceMappingURL=style.css.map */